body
    background-color: aliceblue

.root
    display: flex
    min-height: inherit
    flex-direction: column
    
.search-bar
    display: flex
    width: inherit
    justify-content: center
    margin-top: 5vh
    margin-bottom: 5vh
    flex-direction: column
    align-items: center

.serch-bar__main
    width: 100%
    margin-bottom: 3vh
    text-align: center

.serch-bar__filters
    display: flex
    width: 100%
    justify-content: space-evenly
    z-index: 0
.hide
    display: none
.show
    display: flex

.serch-bar__filters__input-name
    width: 49%

.serch-bar__inputs, .serch-bar__selects,
    width: 49%

.serch-bar__filters__input, .serch-bar__filters__select
    width: 70%
    text-align: center
    margin: 0 auto
    margin-bottom: 1vh
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif
    font-size: 18px
    color: #60666d

.population
    display: flex
    width: 57%

.open-filters
    margin-bottom: 3vh

.open-filters__link
    cursor: pointer
    &:hover
        color: blue