body
    background-color: aliceblue
    margin: 0 auto

input, select
    border-radius: 9999px
    border: hidden
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15)
    outline: none

.root
    display: flex
    min-height: inherit
    flex-direction: row
    width: inherit
    
.search-bar
    display: flex
    width: 100%
    margin-top: 5vh
    margin-bottom: 5vh
    flex-direction: column
    align-items: center

.search-bar input
    width: 100%

.serch-bar__main
    width: 80%
    margin-bottom: 3vh
    text-align: center

.serch-bar__filters
    position: relative
    display: flex
    flex-direction: column-reverse
    align-items: center
    justify-content: center
    margin-left: -330px
    top: 0%
    width: 380px
    min-height: 100vh
    z-index: 1
    background-color: rgba(114, 160, 193, .4)
    transition: 0.7s

.show
    margin-left: 0px

.serch-bar__filters-body
    position: fixed
    display: flex
    flex-direction: column
    justify-content: center
    top: 0
    width: inherit
    height: 100vh

.serch-bar__filters__input, .serch-bar__filters__select
    text-align: center
    margin: 0 auto
    margin-bottom: 1vh
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif
    font-size: 18px
    color: #60666d

.serch-bar__filters__select
    cursor: pointer
    width: 80%

.population input, .area input
    width: 80%

.inputs, .inputs__input
    display: flex
    justify-content: center

.inputs__input
    flex-direction: column
    width: 35%

.input-name
    margin: 0

.input-dimension
    margin: 0
    font-size: 10px

.open-filters
    top: 50%
    right: -40px
    position: absolute
    transform: translateY(-50%) rotateZ(-90deg)
    background-color: rgba(51, 170, 51, 0)

.open-filters__link
    cursor: pointer
    &:hover
        color: blue

.serch-bar__filters__reset
    margin-bottom: 3vh

.serch-bar__filters__reset__btn
    cursor: pointer
    border-radius: 9999px 
    &:hover
        background-color: rgba(114, 160, 193, .4)