.render-element
    display: flex
    justify-content: center
    align-items: center
    width: 55vh
    height: 40vh
    border: 1px solid #717072
    -webkit-border-radius: 15px
    border-radius: 15px
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25)
    box-shadow: 0 0 5px rgba(0,0,0,.25)
    margin-bottom: 20px
    margin-left: 10px
    margin-right: 10px
    cursor: pointer
    overflow: auto
    transition: all .5s ease
    background-size: contain

.render-element-name
    text-emphasis: center

.render-element-full-show.close
    position: fixed
    display: none

.render-element-full-show.open
    position: fixed
    display: flex    